<body>
   
   <div class="container-lg" id="home_container">
   
      <h1>Benvenuti al nostro riassunto completo del corso di sviluppo software </h1>

      <article>
         <p>
           Una panoramica che offre un'occhiata ravvicinata agli argomenti chiave che abbiamo esplorato e padroneggiato insieme.
           Nel corso di questa avventura formativa, abbiamo navigato attraverso una serie di tecnologie e linguaggi di programmazione
           fondamentali nel panorama attuale dello sviluppo web e software. <br>
           Da <strong>C#</strong>, noto per la sua potenza e versatilità nell'ambito dello sviluppo <strong>.NET</strong>, a
           <strong>SQL Server</strong>, un sistema di gestione di database robusto e affidabile, abbiamo gettato le basi per una
           comprensione solida delle tecnologie back-end.
         </p>
     
         <p>
           Non ci siamo fermati qui: abbiamo esplorato <strong>ASP.NET MVC</strong>, un framework potente per costruire applicazioni
           web dinamiche e ricche di funzionalità, garantendo un approfondimento sulle tecniche di sviluppo lato server.
           Abbiamo poi virato verso il front-end, dove <strong>JavaScript</strong> e <strong>TypeScript</strong> ci hanno aperto le
           porte alla programmazione di interfacce utente interattive e moderne.<br>
           Infine, ci siamo immersi nel mondo dei framework front-end <strong>Angular</strong> e <strong>React</strong>, due giganti
           nel campo dello sviluppo di single-page applications e interfacce utente reattive.
         </p>
     
         <p>
           Questo riassunto serve non solo come un promemoria delle competenze acquisite, ma anche come una guida per ulteriori
           esplorazioni e apprendimenti.<br>Che siate sviluppatori in erba o esperti che cercano di rinfrescare le loro conoscenze,
           queste pagine rappresentano un punto di riferimento essenziale per il vostro viaggio nel mondo dello sviluppo software.
         </p>
       </article>
     
   </div>
</body>