
<app-card-slider [cards]="cards"></app-card-slider>


<a class="ico" href="https://learn.microsoft.com/it-it/dotnet/csharp/" target="_blank">
    <img src="/assets/images/documentation.png" alt="Documentazione ufficiale"  title="Documentazione Ufficiale">
  </a>

<a  class="ico" href="https://dotnetfiddle.net/" target="_blank">
    <img src="/assets/images/dotnetfiddle-ico.jpg" alt="workspace"  title="Online C# workspace">
  </a>

  <a  class="ico" routerLink="/home">
    <img src="/assets/images/home-icon.png" alt="home"  title="home">
  </a>


