body{
  background-color:   rgb(216, 183, 171);
}

.csharplogo-card {
    margin: 20px;
}

.csharp-image{
   max-width: 200px;
   margin-left: 50px;
}
.card-content{
    background-color: rgb(200, 158, 143)
}

.grid-container {
    
    margin: 0px;
   background-color: aquamarine;
    padding-top: 10%;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr)); /* Responsive columns */
    grid-auto-rows: 80px;
    grid-gap: 10px; /* Optional: Add gap between items */
}
  
.grid-item {

  display: flex;
  align-items:flex-start;
  justify-content: center;
}