
    <body style="background-color:   rgb(216, 183, 171);">
      <div class="grid-container">
    <div class="grid-item">
      <img  class="csharp-image" src="/assets/images/Logo_C_sharp.png" alt="Logo CSharp">

    </div>
    <div class="grid-item">
      <mat-card class="csharplogo-card">
        <mat-card-header class = "csharp-header" style="background-color:rgb(97, 77, 77); color:rgb(255, 230, 230);">
        
          <mat-card-title>C# </mat-card-title>
          <mat-card-subtitle tsyle="color:rgb(200, 180, 180)">Linguaggio programmazione a oggetti</mat-card-subtitle>
        </mat-card-header>
        <mat-card-content class="card-content" >
          <p>
            Il C# è un linguaggio di programmazione multi-paradigma
             che supporta tutti i concetti della programmazione orientata agli oggetti.
          </p>
        </mat-card-content>
        <!--<mat-card-actions>
          <button mat-button>LIKE</button>
          <button mat-button>SHARE</button>
        </mat-card-actions> -->
      </mat-card>
    </div>
  </div>

    </body>