

.slider {

    display: flex;
    overflow: hidden;
    height: 80%;
  }

  .slide {
    display: flex;
    transition: transform 0.5s ease;
  }
  .fade-in-text {
    
    animation: fadeIn 1s;
  }
  @keyframes fadeIn {
    0% { opacity: 0; }
    100% { opacity: 1; }
  }
  
  .card {
    color: rgb(21, 49, 40);
    background-color: rgb(170, 203, 245);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    border-radius: 10px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    margin-top: 2%;
    flex: 0 0 100%;
    max-width: 90%;
    margin-right: 5%;
    margin-left: 5%;
    margin-bottom: 2%;
    max-height: 70%;
    border-radius: 10px;
  }

  .cardhead{
    font-size: 30px !important;
    color: rgb(66, 30, 99);
    padding-left: 10px;
    padding-right: 10px;
    font-family: 'Lucida Console';
  }

  .cardtext{
    margin-top: 2%;
      font-size: 18px;
      position:relative;
      top: 40%;
      left: 50%;
      transform: translate(-50%, -50%);
  }
  .content {
    font-family: 'Lucida Console';
    margin-top: 3%;
    margin-bottom: 5%;  /* Modificato per rendere il margine inferiore meno grande */
    margin-right: 1%;
    margin-left: 2%;
    padding: 2%;  /* Aggiunto padding per separare il contenuto dai bordi del Mat Card */
    box-sizing: border-box;  /* Assicura che il padding non aumenti la larghezza complessiva */
}

  .cardimage{
    width: 100%;
     max-width: 300px;
     max-height: 300px;
    border-radius: 10px;
    display: inline;
    float: right;
    margin-left: 5%;
    
}
.bttn:disabled {
  color: rgb(209, 236, 236) !important; /* Change the color for disabled state */
  background-color: rgb(124, 128, 161); /* Change the background color for disabled state */
  /* You can adjust these colors as per your design */
}

.bttn{
    color:azure !important;
    background-color: rgb(88, 142, 189);
    margin: 4%;
    margin-top:0px;
    margin-bottom:0px;
    height: 40px;
    width: 41%;
}


.cardimage:hover{
  scale: 1.2;
  transition: 1.2s;
}

