
<div class="slider fade-in-text">
    <div class="slide" [style.transform]="'translateX(' + (-currentIndex * 100) + '%)'">
      <mat-card *ngFor="let card of cards" class="card">
        <!-- Your card content -->
        <mat-card-header>
          <mat-card-title class="cardhead">{{ card.title }}</mat-card-title>

        </mat-card-header>
        <mat-card-content class="content">
        <img class ="cardimage" mat-card-image [src]="card.image" alt="{{ card.title }}">
        <div class="cardtext" [innerHTML]="card.content">         
        </div>
      </mat-card-content>
      </mat-card>
    </div>
  </div>
  
  <button class= "bttn " mat-button (click)="previousCard()" [disabled]="currentIndex === 0">prev</button>
  <button class= "bttn " mat-button (click)="nextCard()" [disabled]="currentIndex === cards.length - 1">next</button>