.git-ico{
    width: 60px;
   

 }
 .git-ico:hover{
    scale: 1.2;
    transition: 1.2s;
 }
 .github-ico{
    width: 50px;
   

 }
 .github-ico:hover{
    scale: 1.2;
    transition: 1.2s;
 }

 
 .gradient-custom {
    /* fallback for old browsers */
    background: #6a85b6;
  
    /* Chrome 10-25, Safari 5.1-6 */
    background: -webkit-linear-gradient(to right, rgba(106,133,182,0.5), rgba(186,200,224,0.5));
  
    /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    background: linear-gradient(to right, rgba(106,133,182,0.5), rgba(186,200,224,0.5))
  }
  .fade-in-text {
    
    animation: fadeIn 2s;
  }
  @keyframes fadeIn {
    0% { opacity: 0; }
    100% { opacity: 1; }
  }

  

body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
  }