
<h1>Git & GitHub</h1>
<h3>Istruzioni principali</h3>

<p>I comandi principali utilizzati in Git e GitHub sono fondamentali per gestire il versionamento 
    del codice e collaborare con altri sviluppatori. Ecco una breve descrizione dei comandi più comuni:</p>

<ol>
    <li><b>git init: </b>Inizializza un nuovo repository Git nella directory corrente. Questo comando crea una nuova
        cartella nascosta chiamata ".git" che conterrà tutti i dati di versionamento.</li>
    
    <li> <b>git clone repository_url:</b> Clona un repository Git esistente sul tuo computer. Questo comando crea 
        una copia locale del repository remoto, consentendoti di lavorare sul codice in modo isolato.</li>
    
    <li> <b>git add file_path:</b> Aggiunge un file specifico alla staging area. La staging area è un'area temporanea
        in cui vengono preparati i file per il commit.</li>
    
    <li> <b>git commit -m "commit_message":</b> Esegue un commit dei file presenti nella staging area. Un commit è un'operazione
        che registra le modifiche apportate ai file nel repository Git.</li>
    
    <li><b>git push origin branch_name:</b> Carica i commit locali sul repository remoto specificato. Questo comando
        sincronizza il repository locale con il repository remoto.</li>
    
    <li><b>git pull origin branch_name:</b> Aggiorna il repository locale con le ultime modifiche dal repository remoto.
        Questo comando è utile per ottenere le ultime modifiche effettuate dagli altri sviluppatori.</li>


        
</ol>



