<h1>Hello</h1>
<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <ul class=" collapse navbar-collapse navbar-nav p-3 ">
    <li><a href="#Home">Home</a></li>
    <li><a href="#C#">C#</a></li>
    <li><a href="#SqlServer">SqlServer</a></li>
    <li><a href="#AspNET MVC">AspNET MVC</a></li>
    <li><a href="#Javascript">Javascript</a></li>
    <li><a href="#TypeScript">TypeScript</a></li>
    <li><a href="#Angular">Angular</a></li>
    <li><a href="#React">React</a></li>
  </ul>
  <h1>CIAO TUTTI</h1>
  <h2>Commit simona_2</h2>
</nav>
