<nav class="navbar navbar-expand-sm navbar-dark bg-dark">
  <a class="navbar-brand nav-item active" routerLink="/home">Full stack Course</a>
 
<!-- navbar.component.html -->
<button class="navbar-toggler" type="button" (click)="toggleNavbar()" data-toggle="collapse" data-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
  <span class="navbar-toggler-icon"></span>
</button>


  <div class="collapse navbar-collapse"  [ngClass]="{'show': isNavbarOpen, 'navbar-collapse': isNavbarOpen}"  id="navbarNavDropdown">
    
    <ul class="navbar-nav">
      <li class="nav-item">
        <a class="nav-link" routerLink="/csh">C#</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" routerLink="/sql">SqlServer</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" routerLink="/aspnet">AspNET</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" routerLink="/js">Javascript</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" routerLink="/tscr">TypeScript</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" routerLink="/ang">Angular</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" routerLink="/rct">React</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" routerLink="/git">Git</a>
      </li>
     
    </ul>
  </div>
</nav>
 
 
<router-outlet></router-outlet>
