<h1>Hello</h1>
<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <ul class=" collapse navbar-collapse navbar-nav p-3 ">
    <li><a href="#Home">Home</a></li>
    <li><a href="#C#">C#</a></li>
    <li><a href="#SqlServer">Item 3</a></li>
    <li><a href="#AspNET MVC">Item 4</a></li>
    <li><a href="#Javascript">Item 5</a></li>
    <li><a href="#TypeScript">Item 6</a></li>
    <li><a href="#Angular">Item 7</a></li>
    <li><a href="#React">Item 8</a></li>
  </ul>

  <h2> QUESTO SITO ESPLODERà FRA ... 5. .. 4 ... 3. .. 2. ... 1...</h2>
</nav>
